{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<h1>{{ question.question_text }}</h1>
<a href="{% url 'polls:results' question.id %}">See results?</a>
<a href="{% url 'polls:index' %}">Go back to questions?</a>
{% if error_message %}<p class="err"><strong>{{ error_message }}</strong></p>{% endif %}
<div>
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <div class="form-element">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        </div>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>
</div>